.menu-container {
  display: flex;
  flex-direction: row;
}
.menu-button .menu-select {
  margin-right: 5px;
  border: solid 1px rgb(0, 0, 0);
}
.console {
  font-family: monospace;
  border: solid 1px rgb(0, 0, 0);
  height: 100px;
  overflow: scroll;
}

#canvas {
  border: solid 1px rgb(0, 0, 0);
}